<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SQLLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="Default" connectionString="DataSource=CharacterDB.db;Version=3;" providerName="System.Data.SqlClient"/>
		<add name="SQLLibrary.Properties.Settings.ConnectionString" connectionString="DataSource=CharacterDB.db;Version=3;"/>
	</connectionStrings>
	<appSettings>
		<add key="MaxSQLEntriesPerCharacter" value="2"/>
	</appSettings>
	<applicationSettings>
		<SQLLibrary.Properties.Settings>
			<setting name="MaxSQLEntriesPerCharacter" serializeAs="String">
				<value>2</value>
			</setting>
		</SQLLibrary.Properties.Settings>
	</applicationSettings>
</configuration>