<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DAoCToolSuite.CharacterTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="DAoCToolSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="x86"/>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<DAoCToolSuite.CharacterTool.Properties.Settings>
   <setting name="WindowLocation" serializeAs="String">
    <value>10, 10</value>
   </setting>
   <setting name="LoadCount" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DAoCCharacterFileDirectory" serializeAs="String">
    <value>%AppData%\Electronic Arts\Dark Age of Camelot\LotM</value>
   </setting>
   <setting name="DisplayedDatabaseColumnNames" serializeAs="String">
    <value>{"Names": ["DateOnly", "FirstName", "Realm", "Class", "Description"]}</value>
   </setting>
   <setting name="SettingDisplayedDataGridViewHeaderNames" serializeAs="String">
    <value>{"Names": ["Date", "Name", "Realm", "Class", "Description"]}</value>
   </setting>
   <setting name="JsonBackupFileFullPath" serializeAs="String">
    <value>%UserProfile%\Documents\CharacterToolBackup.json</value>
   </setting>
   <setting name="RealmClasses" serializeAs="String">
    <value>{\"Realm\": {\"Albion\": \"Armsman,Armswoman,Cabalist,Cleric,Friar,Heretic,Infiltrator,Mauler,Mercenary,Minstrel,Necromancer,Paladin,Reaver,Scout,Sorcerer,Sorceress,Theurgist,Wizard\", \"Hibernia\": \"Animist,Bainshee,Bard,Blademaster,Champion,Druid,Eldritch,Enchanter,Enchantress,Hero,Mauler,Mentalist,Nightshade,Ranger,Valewalker,Vampiir,Warden\", \"Midgard\": \"Berserker,Bonedancer,Healer,Hunter,Mauler,Runemaster,Savage,Shadowblade,Shaman,Skald,Spiritmaster,Thane,Valkyrie,Warlock,Warrior\"}}</value>
   </setting>
   <setting name="ServerList" serializeAs="String">
    <value>{"Servers": {"Server": [{"Index": 41, "IP": "107.23.173.143", "Name": "YWain1", "Port": 10622}, {"Index": 49, "IP": "107.23.173.143", "Name": "YWain2", "Port": 10622}, {"Index": 50, "IP": "107.23.173.143", "Name": "YWain3", "Port": 10622}, {"Index": 51, "IP": "107.23.173.143", "Name": "YWain4", "Port": 10622}, {"Index": 52, "IP": "107.23.173.143", "Name": "YWain5", "Port": 10622}, {"Index": 53, "IP": "107.23.173.143", "Name": "YWain6", "Port": 10622}, {"Index": 54, "IP": "107.23.173.143", "Name": "YWain7", "Port": 10622}, {"Index": 55, "IP": "107.23.173.143", "Name": "YWain8", "Port": 10622}, {"Index": 56, "IP": "107.23.173.143", "Name": "YWain9", "Port": 10622}, {"Index": 57, "IP": "107.23.173.143", "Name": "YWain10", "Port": 10622}]}}</value>
   </setting>
  </DAoCToolSuite.CharacterTool.Properties.Settings>
  <DAoCToolSuite.Properties.Settings>
			<setting name="WindowLocation" serializeAs="String">
				<value>10, 10</value>
			</setting>
			<setting name="LoadCount" serializeAs="String">
				<value>0</value>
			</setting>
		</DAoCToolSuite.Properties.Settings>
	</userSettings>
</configuration>