{
"AlwaysOnTop": false,
"DAoCCharacterFileDirectory": "%AppData%\\Electronic Arts\\Dark Age of Camelot\\LotM",
"DisplayedDatabaseColumnNames":
    {
    "Names":
        [
        "DateOnly",
        "FirstName",
        "Realm",
        "Class",
        "Description"
        ]
    },
"DisplayedDataGridViewHeaderNames":
    {
    "Names":
        [
        "Date",
        "Name",
        "Realm",
        "Class",
        "Description"
        ]
    },
"JsonBackupFileFullPath": "%UserProfile%\\Documents\\CharacterToolBackup.json",
"RealmClasses": "{\"Realm\": {\"Albion\": \"Armsman,Armswoman,Cabalist,Cleric,Friar,Heretic,Infiltrator,Mauler,Mercenary,Minstrel,Necromancer,Paladin,Reaver,Scout,Sorcerer,Sorceress,Theurgist,Wizard\", \"Hibernia\": \"Animist,Bainshee,Bard,Blademaster,Champion,Druid,Eldritch,Enchanter,Enchantress,Hero,Mauler,Mentalist,Nightshade,Ranger,Valewalker,Vampiir,Warden\", \"Midgard\": \"Berserker,Bonedancer,Healer,Hunter,Mauler,Runemaster,Savage,Shadowblade,Shaman,Skald,Spiritmaster,Thane,Valkyrie,Warlock,Warrior\"}}",
"Servers": "{\"Servers\": {\"Server\": [{\"Index\": 41, \"Name\": \"YWain1\"}, {\"Index\": 49, \"Name\": \"YWain2\"}, {\"Index\": 50, \"Name\": \"YWain3\"}, {\"Index\": 51, \"Name\": \"YWain4\"}, {\"Index\": 52, \"Name\": \"YWain5\"}, {\"Index\": 53, \"Name\": \"YWain6\"}, {\"Index\": 54, \"Name\": \"YWain7\"}, {\"Index\": 55, \"Name\": \"YWain8\"}, {\"Index\": 56, \"Name\": \"YWain9\"}, {\"Index\": 57, \"Name\": \"YWain10\"}]}}"
}