<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DAoCToolSuite.ChimpTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="DAoCToolSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
 </configSections>
	<appSettings>
		<add key="MaxSQLEntriesPerCharacter" value="2"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="x86"/>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<DAoCToolSuite.ChimpTool.Properties.Settings>
   <setting name="WindowLocation" serializeAs="String">
    <value>10, 10</value>
   </setting>
   <setting name="LoadCount" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="NextRefreshAll" serializeAs="String">
    <value>2001-01-01</value>
   </setting>
   <setting name="NextRefresh" serializeAs="String">
    <value>2001-01-01</value>
   </setting>
   <setting name="NextLoadAll" serializeAs="String">
    <value>2001-01-01</value>
   </setting>
   <setting name="GameDllLocation" serializeAs="String">
    <value>%ProgramFiles(x86)%\Electronic Arts\Dark Age of Camelot</value>
   </setting>
   <setting name="DAoCCharacterFileDirectory" serializeAs="String">
    <value>%AppData%\Electronic Arts\Dark Age of Camelot\LotM</value>
   </setting>
   <setting name="DisplayedDatabaseColumnNames" serializeAs="String">
    <value>{"Names": ["Name", "Realm", "Level","Class", "Server", "RealmRank", "TotalRealmPoints", "TotalSoloKills", "TotalDeathBlows", "TotalKills", "TotalDeaths", "IRS", "RPNextRank", "RPLastUpdate", "BountyPoints", "MasterLevel_Name"]}</value>
   </setting>
   <setting name="DisplayedDataGridViewHeaderNames" serializeAs="String">
    <value>{"Names": ["Name", "Realm","Level", "Class", "Server", "Realm\nRank", "Realm\nPoints", "Solo\nKills", "Death\nBlows", "Kills", "Deaths", "IRS", "RP Next\nRank", "RP Last\nUpdate", "Bounty\nPoints", "MasterLevel Path"]}</value>
   </setting>
   <setting name="JsonBackupFileFullPath" serializeAs="String">
    <value>%UserProfile%\Documents\ChimpToolBackup.json</value>
   </setting>
   <setting name="LastAccount" serializeAs="String">
    <value>Default</value>
   </setting>
   <setting name="Server" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UseAPI" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseSelenium" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ServerList" serializeAs="String">
    <value>{"Servers": {"Server": [{"Index": 23, "IP": "107.21.60.95", "Name": "Gaheris", "Port": 10622}, {"Index": 41, "IP": "107.23.173.143", "Name": "Ywain1", "Port": 10622}, {"Index": 49, "IP": "107.23.173.143", "Name": "Ywain2", "Port": 10622}, {"Index": 50, "IP": "107.23.173.143", "Name": "Ywain3", "Port": 10622}, {"Index": 51, "IP": "107.23.173.143", "Name": "Ywain4", "Port": 10622}, {"Index": 52, "IP": "107.23.173.143", "Name": "Ywain5", "Port": 10622}, {"Index": 53, "IP": "107.23.173.143", "Name": "Ywain6", "Port": 10622}, {"Index": 54, "IP": "107.23.173.143", "Name": "Ywain7", "Port": 10622}, {"Index": 55, "IP": "107.23.173.143", "Name": "Ywain8", "Port": 10622}, {"Index": 56, "IP": "107.23.173.143", "Name": "Ywain9", "Port": 10622}, {"Index": 57, "IP": "107.23.173.143", "Name": "Ywain10", "Port": 10622}]}}</value>
   </setting>
   <setting name="RealmClasses" serializeAs="String">
    <value>{"Realm": {"Albion": "Armsman,Armswoman,Cabalist,Cleric,Friar,Heretic,Infiltrator,Mauler,Mercenary,Minstrel,Necromancer,Paladin,Reaver,Scout,Sorcerer,Sorceress,Theurgist,Wizard", "Hibernia": "Animist,Bainshee,Bard,Blademaster,Champion,Druid,Eldritch,Enchanter,Enchantress,Hero,Heroine,Mauler,Mentalist,Nightshade,Ranger,Valewalker,Vampiir,Warden", "Midgard": "Berserker,Bonedancer,Healer,Hunter,Huntress,Mauler,Runemaster,Savage,Shadowblade,Shaman,Skald,Spiritmaster,Thane,Valkyrie,Warlock,Warrior"}}</value>
   </setting>
   <setting name="CharacterLeftClick" serializeAs="String">
    <value>Ywain</value>
   </setting>
   <setting name="CharacterShiftLeftClick" serializeAs="String">
    <value>Gaheris</value>
   </setting>
  </DAoCToolSuite.ChimpTool.Properties.Settings>
	</userSettings>
</configuration>