<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DAoCToolSuite.ChimpTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="DAoCToolSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
 </configSections>
	<appSettings>
		<add key="MaxSQLEntriesPerCharacter" value="2"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="x86"/>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<DAoCToolSuite.ChimpTool.Properties.Settings>
   <setting name="WindowLocation" serializeAs="String">
    <value>10, 10</value>
   </setting>
   <setting name="LoadCount" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="NextRefreshAll" serializeAs="String">
    <value>2001-01-01</value>
   </setting>
   <setting name="NextRefresh" serializeAs="String">
    <value>2001-01-01</value>
   </setting>
   <setting name="NextLoadAll" serializeAs="String">
    <value>2001-01-01</value>
   </setting>
  </DAoCToolSuite.ChimpTool.Properties.Settings>
	</userSettings>
</configuration>