{
"AlwaysOnTop": false,
"DAoCCharacterFileDirectory": "%AppData%\\Electronic Arts\\Dark Age of Camelot\\LotM",
"DisplayedDatabaseColumnNames":
    {
    "Names":
        [
        "Name",
        "Realm",
        "Class",
        "Server",
        "RealmRank",
        "TotalRealmPoints",
        "TotalSoloKills",
        "TotalDeathBlows",
        "TotalKills",
        "TotalDeaths",
        "IRS",
        "RPNextRank",
        "RPLastUpdate",
        "BountyPoints",
        "MasterLevel_Name"
        ]
    },
"DisplayedDataGridViewHeaderNames":
    {
    "Names":
        [
        "Name",
        "Realm",
        "Class",
        "Server",
        "Realm\nRank",
        "Realm\nPoints",
        "Solo\nKills",
        "Death\nBlows",
        "Kills",
        "Deaths",
        "IRS",
        "RP Next\nRank",
        "RP Last\nUpdate",
        "Bounty\nPoints",
        "MasterLevel Path"
        ]
    },
"JsonBackupFileFullPath": "%UserProfile%\\Documents\\ChimpToolBackup.json",
"LastAccount": "Default",
"Server": 0,
"UseAPI": true,
"UseSelenium": true
}