<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Logger.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Logger.Properties.Settings>
            <setting name="LogFileName" serializeAs="String">
                <value>DAoCToolSuite.log</value>
            </setting>
        </Logger.Properties.Settings>
        <Logger.Settings>
            <setting name="LogFileName" serializeAs="String">
                <value>DAoCToolSuite.log</value>
            </setting>
        </Logger.Settings>
    </applicationSettings>
</configuration>